## Notebook for work with pandas by course demo analysis by Karpov courses

## read files and data

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('lesson_1_data.csv', sep=';', encoding='windows-1251')

In [19]:
df.head()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [13]:
#attributes for work with dimensional

In [11]:
df.shape

(292, 8)

In [12]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [14]:
# method for work with disribe numerale columns
df.describe()

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [15]:
# method for rename index or columns

In [20]:
df.rename(index={0: "Ivan"},
          columns={'Дата оплаты': 'data_pay', 'Дата создания': 'data_created'})

,Номер,data_created,data_pay,Title,Статус,Заработано,Город,Платежная система
Ivan,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [21]:
# communication with columns

In [26]:
# ways to shows columns
# first way
df['Дата оплаты']

0      01.12.2019 10:52
1      01.12.2019 21:27
2                   NaN
3                   NaN
4                   NaN
             ...
287    30.12.2019 12:49
288                 NaN
289     31.12.2019 2:22
290    01.01.2020 14:29
291    31.12.2019 17:32
Name: Дата оплаты, Length: 292, dtype: object

In [27]:
# second way
df.Title

0                                Курс обучения «Эксперт»
1                                Курс обучения «Эксперт»
2                             Курс обучения «Специалист»
3                            Курс обучения «Консультант»
4                                Курс обучения «Эксперт»
                             ...
287    Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...
288                          Курс обучения «Консультант»
289                          Курс обучения «Консультант»
290    Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...
291    Курс от Школы Диетологов. Повышение квалификац...
Name: Title, Length: 292, dtype: object

In [28]:
# trird way to show several columns
df[['Title', 'Статус']]

                                                 Title    Статус
0                              Курс обучения «Эксперт»  Завершен
1                              Курс обучения «Эксперт»  Завершен
2                           Курс обучения «Специалист»   Отменен
3                          Курс обучения «Консультант»   Отменен
4                              Курс обучения «Эксперт»   Отменен
..                                                 ...       ...
287  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  Завершен
288                        Курс обучения «Консультант»   Отменен
289                        Курс обучения «Консультант»  Завершен
290  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  Завершен
291  Курс от Школы Диетологов. Повышение квалификац...  Завершен

[292 rows x 2 columns]

In [30]:
# create a new column
df['safe'] = 'Yes'

In [31]:
df

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система,safe
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг,Yes
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса,Yes
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN,Yes
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN,Yes
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN,Yes
...,...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса,Yes
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN,Yes
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет",Yes
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса,Yes
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет",Yes

In [32]:
# calculatence methods

In [42]:
# method aggrigation multipilication all of elements for column
df.Заработано.product()

0.0

In [51]:
df.groupby(['Title', 'Статус']) \
  .agg({'Статус': 'count'})

                                                                     Статус
Title                                              Статус
Курс обучения «Консультант»                        Завершен              31
                                                   Отменен               21
Курс обучения «Специалист»                         Завершен               7
                                                   Отменен                5
Курс обучения «Эксперт»                            Завершен               5
                                                   Отменен               17
Курс от Школы Диетологов. Бизнес                   Завершен               3
                                                   Отменен                5
                                                   Частично оплачен       1
Курс от Школы Диетологов. Повышение квалификации.  Завершен               9
                                                   Отменен                5
                                                   Частично оплачен       1
Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосп... В работе               1
                                                   Завершен             125
                                                   Ожидаем оплаты         1
                                                   Отменен               55

In [55]:
(df.groupby(['Title', 'Статус'], as_index=True)
   .agg({'Статус': 'count'}))

                                                                     Статус
Title                                              Статус
Курс обучения «Консультант»                        Завершен              31
                                                   Отменен               21
Курс обучения «Специалист»                         Завершен               7
                                                   Отменен                5
Курс обучения «Эксперт»                            Завершен               5
                                                   Отменен               17
Курс от Школы Диетологов. Бизнес                   Завершен               3
                                                   Отменен                5
                                                   Частично оплачен       1
Курс от Школы Диетологов. Повышение квалификации.  Завершен               9
                                                   Отменен                5
                                                   Частично оплачен       1
Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосп... В работе               1
                                                   Завершен             125
                                                   Ожидаем оплаты         1
                                                   Отменен               55

In [65]:
# train with groupby and aggregation function
df.groupby(['Город', 'Title'], as_index=True).agg({'Заработано': 'sum'})

                                                                                              Заработано
Город                                     Title
Massagno                                  Курс обучения «Консультант»                            5044.05
a.s                                       Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосп...     2935.44
Алматы                                    Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосп...     2914.30
Амурская область                          Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосп...        0.00
Армавир                                   Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосп...        0.00
...                                                                                                  ...
г.Санкт-Петербург и Ленинградская область Курс обучения «Консультант»                            8820.32
                                          Курс обучения «Эксперт»                               59195.00
                                          Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосп...    14677.20
москва                                    Курс обучения «Консультант»                               1.00
нижний Новгород                           Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосп...        0.00

[159 rows x 1 columns]